/* Body and container styles */
body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.titleDiv {
  background-color: #bdbdbd;
}
.topRow {
  width: 80%;
}


 .row {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
} 

.col-4 {
  padding-right: 0px;
  padding-left: 0px;
}

.col-8 {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Search form styles */
form {

  margin-bottom: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  flex-grow: 1;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 0 5px 5px 0;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

.play {
  display: inline-block;
  font-size: 18px;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 10px;
}

.play:hover {
  background-color: #0069d9;
}

/* Results styles */
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  width: calc(80% - 20px);
  margin: auto;
  margin-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

.result img {
  
  width: 100%;
  height: auto;
  object-fit: cover;
}

.result h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}

.result h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 20px;
}

.result a {
  margin: 10px 20px;
  font-size: 15px;
}
.result p {
  font-size: 10px;
  margin: 10px 20px;
  line-height: 1.5;
}

.bottom {
  background-color: #bdbdbd;
}

.progressBar {
  margin-left: 5px;
  margin-bottom: 5px;
  height: 4px;
  display: inline-block;
  width: 70%;
  overflow: hidden;
  cursor: pointer
}

.audioListened {
  width: 0%;
  height: 100%;
  background-color: #007bff;
  float: left;
}

.audioLeft{
  width: 100%;
  height: 100%;
  background-color: #555555;
  float: left;
}

.audioText{
  font-size: 20px;
  display: inline-block;
  margin-left: 10px;
  margin-top: -50px;
}

/* Media queries */
@media only screen and (max-width: 768px) {
  .container {
    padding: 20px 10px;
  }

  .result {
    width: 100%;
  }

  .progressBar {
    width: 90%;
  }
}


.card {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 700px;
  border-radius: 5px;
  width: 70%;
  margin: 10px auto;
}


.card-header {
  background-color: #f5f5f5;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.card-body {
  padding: 10px;
}

.card-text {
  margin-bottom: 10px;
}

.test {
  height: 20px;
}
